#main {
    display:flex
}
.mainFrame {
    border:1px solid black;
    height:500px;
    width:500px;
    display: flex;
    flex-direction: column;
    
}
.status img {
    width:50px;
    height: 50px;
}
.stat {
    display: flex;
    justify-content: space-evenly;
}
.stat_item {
    display: flex;
    flex-direction: column;
}
.tamagochi {
    display:flex;
    align-self: center;
}
.stat>div {
    /* height:50px;
    width:50px;
    border:1px solid black;
    display:flex; */
}
#stat_hungry {
    height:100%;
    width: 0px;
    background-color:green;
}
#stat_stamina{
    height:100%;
    width: 0px;
    background-color:green;
}
#stat_fun {
    height:100%;
    width: 0px;
    background-color:green;
}
.night {
    background-color:grey;
}
.status.d-none {
    display:none;
}
button {
    background-color: red;
    border-radius: 15px;
    padding: 15px;
}

#buttonStockPc {
    background-color: grey;
    border-radius: 15px;
    padding: 15px;
}
.mini_barre_exp {
    width:100px;
    height:24px;
    border :1px solid black;
}
.barre_exp {
    animation: 3s linear 1s slidein;
    width:200px;
    height:24px;
    border :1px solid black;
}
.cursor {
    height:100%;
    width: 0px;
    background-color:green;
}
#gameOver {
    color: red;
    font-weight: bold;
    font-size: 76px;
}

#berries {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}